


.text p{
  color: black;
  font-size: 30px;  
  text-align: justify;
  font-family: 'Abel', sans-serif;
}

h1 {
  color: darkblue;
  font-weight: lighter;
  font-size: 80px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  float: center;
}

.text{
  position: absolute;
  top: 90px;
  left: 100px;
  right: 100px
}