.nav a{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 20%;
  
}

#about{
  position:absolute;
  top: 300px;
  right: 50px;
}

#resume{
  position:absolute;
  top: 300px;
  left: 50px; 
}

body {
  background: url('background.jpg') no-repeat fixed center;
}

h1 {
  color: #fff;
  font-size: 150px;  
  position: relative;
  top: 200px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.text p {
  color: yellow;
  font-size: 30px;  
  position: relative;
  top: 230px;
  text-align: center;
  font-family: 'Abel', sans-serif;
}
/* .jumbotron img {
	position: relative;
	left: 20px;
	width: 150px;
	height: 200px;
}
*/
