.nav {
  position: relative;
  top: 50px;
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  float: right;
}

.nav li{
display: inline;
}

body {
  background: url('background.jpg') no-repeat fixed center;
}

h1 {
  color: #fff;
  font-size: 150px;  
  position: relative;
  top: 200px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.text p {
  color: yellow;
  font-size: 30px;  
  position: relative;
  top: 230px;
  text-align: center;
  font-family: 'Abel', sans-serif;
}
/* .jumbotron img {
	position: relative;
	left: 20px;
	width: 150px;
	height: 200px;
}
*/
