#subHeading{
	top: 600px;
	font-size: 20px;
}
   #hover-cap-4col .thumbnail {
    position:relative;
    overflow:hidden;  
	list-style:none;  
}
   .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
 
    color:#fff !important;
        }
ul.thumbnails, ul.thumbnails ul
    {
        list-style: none;
      margin-top:-3px;
  
    }


ul.thumbnails ul, ul.thumbnails
{
padding:0px;
}
ul.thumbnails li 
{
padding-right:0px;
padding-left:0px;
}
div.thumbnail
{
margin-bottom:0px;
  border:none;
  padding:0px;
  border-radius:0px;
}

 li.small .thumbnail
{
margin:3px!important;

}
ul li ul 
{
margin-top:-3px;
}

 li.lead .thumbnail
{
margin-bottom:0px!important;
background:#fdf;
}
.modal-dialog{
	width: 700px;
}
.caption{
	text-align: center;
}
.caption p{
	font-weight: 300px;
}